
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GourmetShop Admin</h1>
    <p>View Products:</p>
    <a href="/Products" class="btn btn-primary">Products</a>  
    <p>View Suppliers:</p>
    <a href="/Suppliers" class="btn btn-primary">Suppliers</a>

</div>

    